<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- نوتیفیکیشن -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- ویبره -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- آلارم دقیق -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- بعد از ری‌استارت گوشی -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- فول اسکرین -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:label="یادآور دارو"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">

        <!-- صفحه اصلی -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- صفحه آلارم -->

        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Test" />

        <!-- دریافت آلارم -->

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="false" />

    </application>

</manifest>
